<div class="container">
  <div class="card-category mt-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= @cowerking.photo %>)">
    <%= @cowerking.name %>
  </div>

  <div>
    <%= @cowerking.description %>
    <%= @cowerking.price_per_day %>
  </div>

  <% if @cowerking.user == current_user %>
    <%# mettre les trucs pour modifier %>
    <%= link_to "Modifier", edit_cowerking_path(params[:id])%>
    <%= link_to "Supprimer", cowerking_path(params[:id]), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
  <% else %>
    <%# mettre les trucs pour reserver %>
    <p>prendre rdv</p>
  <% end %>
</div>
