<%# mes bookings %>

<div class="container">
  <h2>Mes réservations</h2>
  <div class="cards mb-5">
    <% @bookings.each do |booking|%>
      <%= link_to booking_path(booking), class: "text-decoration-none" do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= booking.cowerking.photo%>)">
          <%= booking.cowerking.name %>
        </div>
      <% end %>
    <% end %>
  </div>


<%# mes cowerkings %>

  <h2>Mes cowerkings</h2>
  <% @cowerkings.each do |cowerking| %>
    <% if cowerking.user == current_user %>
      <%= link_to cowerking, class:"text-decoration-none text-black" do  %>
        <div class="card-trip mb-3">
          <img src="<%= cowerking.photo %>" />
          <div class="card-trip-infos">
            <div>
              <h2><%= cowerking.name %></h2>
              <p><%= cowerking.description %></p>
            </div>
            <h2 class="card-trip-pricing"><%= cowerking.price_per_day %>€/jour</h2>
            <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
